// variables

$grid-columns: 12 !default;
$grid-gutter-width: 2% !default;
$grid-space: 1% !default;

// class

.l-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: $grid-space;
  padding-left: $grid-space;

  &.is-gapless {
    padding-right: 0;
    padding-left: 0;
    .cell + .cell {
      margin-left: 0;
    }
  }
  &.is-top      { align-items: flex-start; }
  &.is-middle   { align-items: center; }
  &.is-bottom   { align-items: flex-end; }
  &.is-stretch  { align-items: stretch; }
  &.is-baseline { align-items: baseline; }
  &.is-left     { justify-content: flex-start; }
  &.is-center   { justify-content: center; }
  &.is-right    { justify-content: flex-end; }
  &.is-between  { justify-content: space-between; }
  &.is-around   { justify-content: space-around; }

  .cell {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;

    @for $i from 1 through $grid-columns {
      &.is-#{$i}of12 {
        flex: none;
        width: calc(100% * #{$i} / #{$grid-columns});
      }
    }

    & + .cell {
      margin-left: $grid-gutter-width;
    }
  }
}
