<div class="l-container">

  <h2>raw</h2>
  <div class="l-grid is-left sample-raw">
    <div class="cell c-card">
      <div class="image">
        <a href="javascript:void(0)"><img src="./image.jpg"></a>
      </div>
      <div class="name">
        <a href="javascript:void(0)">オーバーオールマキシロングスカート</a>
      </div>
      <div class="price">
        <div class="price-entity">15,120</div>
        <div class="discount-rate"></div>
      </div>
    </div>
    <!--  -->
    <div class="cell c-card">
      <div class="image">
        <a href="javascript:void(0)"><img src="./image.jpg"></a>
      </div>
      <div class="name">
        <a href="javascript:void(0)">オーバーオールマキシロングスカート</a>
      </div>
      <div class="price sale">
        <div class="price-entity">15,120</div>
        <div class="discount-rate">50</div>
      </div>
      <div class="status">
        <span class="item-status-new"></span>
        <span class="item-status-reserve"></span>
      </div>
    </div>
    <!--  -->
    <div class="cell c-card">
      <div class="image">
        <a href="javascript:void(0)"><img src="./image.jpg"></a>
      </div>
      <div class="name">
        <a href="javascript:void(0)">オーバーオールマキシロングスカート</a>
      </div>
      <div class="price">
        <div class="price-entity">15,120</div>
        <div class="discount-rate"></div>
      </div>
      <div class="status">
        <span class="item-status-new"></span>
      </div>
    </div>
  </div>

  <h2>with button</h2>
  <div class="l-grid sample-button">
    <div class="cell is-4of12 c-card">
      <div class="image">
        <a href="javascript:void(0)"><img src="./image.jpg"></a>
      </div>
      <div class="name">
        <a href="javascript:void(0)">オーバーオールマキシロングスカート</a>
      </div>
      <div class="price">
        <div class="price-entity">15,120</div>
        <div class="discount-rate"></div>
      </div>
      <div class="footer">
        <div class="c-button is-primary">カートに入れる</div>
      </div>
    </div>
  </div>

</div>

<style>
.sample-raw,
.sample-button {
  margin-bottom: 5rem;
}

</style>
