<h2>default</h2>

<div class="l-grid">
  <div class="cell">1</div>
  <div class="cell">2</div>
  <div class="cell">3</div>
  <div class="cell">4</div>
  <div class="cell">5</div>
  <div class="cell">6</div>
  <div class="cell">7</div>
  <div class="cell">8</div>
  <div class="cell">9</div>
  <div class="cell">10</div>
  <div class="cell">11</div>
  <div class="cell">12</div>
</div>


<h2>column sizes</h2>

<div class="l-grid">
  <div class="cell is-1of12">is-1of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-2of12">is-2of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-3of12">is-3of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-4of12">is-4of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-5of12">is-5of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-6of12">is-6of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-7of12">is-7of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-8of12">is-8of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-9of12">is-9of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-10of12">is-10of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-11of12">is-11of12</div>
  <div class="cell">auto</div>
</div>

<div class="l-grid">
  <div class="cell is-12of12">is-12of12</div>
</div>


<h2>gapless</h2>
<div class="l-grid is-gapless">
  <div class="cell">auto</div>
  <div class="cell">auto</div>
</div>

<style>
.l-grid {
  margin-bottom: 2rem;
  background: #f8f9fa;
  text-align: center;
}

.l-grid .cell {
  padding: 1.25rem 0;
  background: #f1f3f5;
  cursor: default;
  transition: background .2s;
}
.l-grid .cell:hover {
  background: #e7f5ff;
}
</style>
