html {
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.4em;
  color: #333;
}

a {
  text-decoration: none;
  transition: opacity .2s;
  &:hover {
    opacity: 0.6;
  }
}
